@media only screen and (max-width: 425px) {
    .menu{
        width: 100%;
        animation: openAnimationMini .8s ease forwards;
    }
}

@keyframes openAnimationMini {
    from {
      left: 0;
      top: 15%;
      width: 10%;
      height: 10%;
      border-radius: 20px;
      background-color: white;
      overflow: hidden;
    }
    to {
      left: 5%;
      top: 15%;
      max-height: 85%;
      width: 90%;
      height: 50%;
      border-radius: 20px;
      background-color: white;
      overflow-y: auto;
    }
  }