@media only screen and (max-width: 425px) {
    .menu{
        width: 100%;
        animation: openAnimationMini .8s ease forwards;
    }
    .menuNight{
      width: 100%;
      animation: openAnimationMiniNight .8s ease forwards;
    }
}

@keyframes openAnimationMini {
  0% {
    left: 0;
    top: 15%;
    width: 10%;
    height: 10%;
    border-radius: 20px;
    background-color:  white;
    overflow: hidden;
  }
  99% {
    left: 5%;
    top: 15%;
    max-height: 85%;
    width: 90%;
    height: 50%;
    border-radius: 20px;
    background-color:  white;
    color: white;
  }
  100%{
    left: 5%;
    top: 15%;
    max-height: 85%;
    width: 90%;
    height: auto;
    border-radius: 20px;
    background-color:  white;
    overflow-y: auto;
  }
  }

  @keyframes openAnimationMiniNight {
    0% {
      left: 0;
      top: 15%;
      width: 10%;
      height: 10%;
      border-radius: 20px;
      background-color:  rgb(55, 54, 54);
      overflow: hidden;
    }
    99% {
      left: 5%;
      top: 15%;
      max-height: 85%;
      width: 90%;
      height: 50%;
      border-radius: 20px;
      background-color:  rgb(55, 54, 54);
      color: white;
    }
    100%{
      left: 5%;
      top: 15%;
      max-height: 85%;
      width: 90%;
      height: auto;
      border-radius: 20px;
      background-color:  rgb(55, 54, 54);
      color: white;
      overflow-y: auto;
    }
  }