@media only screen and (max-width: 425px) {
    .List{
        width: 100%;
        overflow: auto;
    }
    .ListNight{
        width: 100%;
        overflow: auto;
    }
    .user:hover{
        background-color: transparent;
    }
}