@media only screen and (max-width: 425px) {
    .List{
        width: 100%;
        position: absolute;
        bottom: 0;
    }
    .ListNight{
        width: 100%;
    }
    .user:hover{
        background-color: none;
    }
}