@media only screen and (max-width: 450px) {
  .addMembers > div:nth-child(1) {
    width: 90%;
  }
  .addMembersNight > div:nth-child(1) {
    width: 90%;
  }
  .addingMember > img {
    width: 18%;
  }
  .addingMemberNight > img {
    width: 18%;
  }
  .addMemberBtn {
    width: 90%;
  }
  .addMemberBtnNight {
    width: 90%;
  }
  .addMemberBtn > button {
    color: black;
  }
}
