@media only screen and (max-width: 450px) {
  .addMembers > div:nth-child(1) {
    width: 90%;
  }
  .addMembersNight > div:nth-child(1) {
    width: 90%;
  }
  .addingMember > img {
    width: 18%;
  }
  .addingMemberNight > img {
    width: 18%;
  }
  .addMemberBtn {
    width: 90%;
  }
  .addMemberBtnNight {
    width: 90%;
  }
  .addMemberBtn > button {
    color: black;
  }
}

@media only screen and (min-width: 600px) and (max-width: 768px) {
  .addMembers > div:nth-child(1),
  .addMembersNight > div:nth-child(1),
  .addMemberBtn,
  .addMemberBtnNight {
    width: 80%;
  }
  .addMemberBtn > button,
  .addMemberBtnNight > button {
    font-size: 20px;
    font-weight: 500;
  }
  .addingMember,
  .addingMemberNight {
    height: 90px !important;
  }
  .addingMember:hover,
  .addingMemberNight:hover {
    background-color: transparent;
  }
  .addingMember::after,
  .addingMemberNight::after {
    display: none;
  }
  .addingMemberName > p:nth-child(1) {
    font-size: 30px !important;
  }
  .addingMemberName > p:nth-child(2) {
    font-size: 20px !important;
  }
}
