@media only screen and (max-width: 768px) {
  .chatSection {
    width: 100%;
    position: absolute;
    animation: opening .3s ease forwards;    
  }
  .noChatSection {
    display: none;
  }
  .header ,
  .headerNight{
    height: 10%;
  }
  .header > img ,
  .headerNight > img {
    width: 16%;
    margin: 0 0 0 1%;
  }
  .headerOption{
    top: 7%;
  }
  .headerOption > div {
    padding: 10px;
  }
  .backToChat {
    display: block;
    width: 10%;
    font-size: 25px;
  }
  .btn:nth-of-type(2) {
    display: none;
  }
  .btn:nth-last-of-type(1) {
    font-size: 30px !important;
    width: 10%;
  }
  .message > img {
    width: 45px;
  }
  .message > div > img,
  .message > div > video {
    max-width: 100%;
  }
  .message > div > p {
    font-size: 16px;
  }
  .sendMessage {
    height: 12%;
  }
  .sendMessage > div {
    width: 95%;
  }
  .sendMessage > div > input {
    padding: 10px;
  }
  .emojI {
    display: none;
  }
  .beforeSendItem {
    width: 95%;
  }
  .beforeSendItem > video {
    max-height: 300px;
  }
  .beforeSendItem > .btns > button:hover {
    border-radius: 0px;
  }

  @keyframes opening {
    from{
      top: 0;
      left: 100%;
    }to{
      top: 0;
      left: 0;
    }
  }
}

@media only screen and (min-width: 600px) and (max-width:768px) {
  .backToChat,
  .btn:nth-last-of-type(1){
    font-size: 35px !important;
  }
  .header > div > p:nth-child(1),
  .headerNight > div > p:nth-child(1),
  .clip,
  .send,
  .sendMessage > div > input {
    font-size: 30px;
  } 
  .header > div > p:nth-child(2) ,
    .headerNight > div > p:nth-child(2) {
    font-size: 20px;
  }
  .message > div > p{
    font-size: 25px;
  }
  .message > div > img, .message > div > video{
    max-height: 500px;
  }
  .headerOption > div{
    font-size: 25px;
  }
  .message > img{
    height: 60px;
    width: 60px;
  }
  .pdfFile{
    font-size: 20px;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1168px) {
  .header,
  .headerNight{
    height: 10%;
  }
  .header > img,
    .headerNight > img{
    width: 7%;
  }
  .header > div,
    .headerNight > div{
    width: 79%;
  }
  .header > input,
    .headerNight > input{
    padding: 0 5px;
  }
  .message > div > img, .message > div > video{
    max-width: 300px;
    max-height: 300px;
  }
  .sendMessage{
    height: 13%;
  }
  .sendMessage > div{
    width: 60%;
  }
  .emojIBox{
    bottom: 17%;
  }
  .member > img{
    width: 15% !important;
  }
}
