.listContext {
  display: flex;
  flex-direction: column;
  width: 130px;
  background-color: white;
  box-shadow: 0 0px 10px black;
  outline: none;
  border: none;
  position: absolute;
  z-index: 2;
  border-radius: 10px;
  overflow: hidden;
}

.listContext > div {
  width: 100%;
  padding: 10px;
}

.listContext > div:nth-last-child(1) {
  color: red;
}

.listContext > div:hover {
  background-color: #f1f1f1;
}

.messageContext {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  z-index: 2;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px black;
  overflow: hidden;
}

.messageContext > div {
  padding: 10px;
  width: 100%;
  /* border-radius: 20px; */
}

.messageContext > div:nth-last-child(1) {
  color: red;
}

.messageContext > div:hover {
  background-color: #f1f1f1;
}