@media only screen and (max-width: 450px) {
  .chosenUserInfo {
    display: block;
    width: 90%;
    height: 77%;
    padding: 10px 0;
  }
  .chosenUserInfo > div:nth-child(1) {
    width: 100%;
    height: 45%;
  }
  .chosenUserInfo > div:nth-child(1) > img {
    width: 70%;
    height: 100%;
    position: relative;
    left: 5%;
  }
  .chosenUserInfoNight {
    display: block;
    width: 90%;
    height: 77%;
    padding: 10px 0;
  }
  .chosenUserInfoNight > div:nth-child(1) {
    width: 100%;
    height: 45%;
  }
  .chosenUserInfoNight > div:nth-child(1) > img {
    width: 70%;
    height: 100%;
    position: relative;
    left: 5%;
  }
  .smallContainer {
    height: 20% !important;
  }
  .smallImg {
    width: 40% !important;
  }
  .noImg {
    display: none !important;
  }
  .infO {
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
  }
  .infONight {
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
  }
  .changeAboutBtn {
    align-self: center;
  }
  .memberlist{
    height: 10% !important;
    max-height: 100%;
    overflow: auto;
  }
  .member:hover{
    background-color: transparent;
}
  .mediA {
    width: 100%;
  }
  .itemS {
    height: auto;
  }
  .toMedia {
    width: 100%;
  }
  .toInfo {
    height: 7%;
  }
  .toMediaNight {
    width: 100%;
  }
  .toInfoNight {
    height: 7%;
  }
  .closeAboutt {
    display: block;
    position: relative;
    top: -45%;
    right: -8%;
    font-size: 30px;
  }
  .relocation {
    top: -45%;
    right: -23%;
  }
  .closeAbout {
    display: none;
  }
}
