.deleteUserError{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    width: 40%;
    height: 20%;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 10px black;
    top: 20%;
    left: 30%;
    position: absolute;
    z-index: 10000000000000000000;
}

.deleteUserError > h2{
    color: red;
}

.deleteUserError > button {
    width: 100px;
    height: 30px;
    border-radius: 20px;
    background-color: #48cae4;
    font-weight: 500;
    transition: .5s;
    border: none;
}

.deleteUserError > button:hover {
    background-color: aqua;
    box-shadow: 0px 5px 5px black;
}